
@keyframes Moveout{
  0% {
    transform: translate(0px)
  }
 50%{
    transform: translate(5px)
  }
  100%{
    transform: translate(0px)

  }

}
.App {
  text-align: left;
  width: 50%;
  border-radius: 50px;
  margin-left: 50px;
  display: flex;
  gap: 20px;
  

}
.Entry{
  animation: Moveout  350ms linear  ;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.tree-btn{
  border: none; 
  background: none;
  border: 1px solid rgb(206, 170, 241);
  padding: 5px 12px;
  margin-bottom: 5px;
  border-radius: 2px;

}

/* CALCUALTOR */
.calc{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  position: relative;
}
.calc-wrapper{
  padding: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 max-width: 500px;
 width: 100%;
 flex-wrap: wrap;
 gap: 3px;

}
.calc-choice{
 
  width: 200px;
  background-color: rgb(0, 166, 255);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  cursor: pointer;
}
.calc-choice:hover{
  transform: scale(1.03);
  background-color:  rgb(15, 125, 184);
  
}
.calc button {
  width: 200px;
  height: 30px;
  border: none;
  background-color:rgb(0, 166, 255) ;
  border-radius: 2px;
  color: white;
  font-weight: bold;
}
.calc-modal{
  position: absolute;
  padding: 10px;
  width: 500px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 20px;
  border-radius: 2px;
  
  background-color: rgb(118, 224, 117);
  top: 26%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0px 0px 7px 4px rgba(119, 176, 233, 0.101)
}
.calc-modal h3{
  color: white;
}
